.container {
    width: 100%;
    margin-bottom: .75rem;
}

@media (min-width: 768px) {
    .container {
        width: 80%;
    }
}

@media (min-width: 1024px) {
    .container {
        width: 70%;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 60%;
    }
}

@media (min-width: 1400px) {
    .container {
        width: 50%;
    }
}
